<%= simple_form_for(@meeting, url: { action: 'create'} ) do |f| %>

    <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.association :user, :include_blank => false %>

  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
