<%= simple_form_for([@room, @meeting]) do |f| %>

    <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.association :user %>

  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
