<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Meeting Start Time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>Meeting End Time:</strong>
  <%= @meeting.end_time %>
</p>

<p>
  <strong>Updated At</strong>
  <%= @meeting.updated_at %>
</p>

<p>
  <strong>User ID: </strong>
  <%= @meeting.user_id %>
</p>
<!--
<p>
  <strong>Room ID: </strong>
  <%= @meeting.room_id %>
</p> -->

<%= link_to 'Edit', edit_room_meeting_path(params[:room_id], @meeting) %> |
<%= link_to 'Back', room_meetings_path(params[:room_id]) %>
