<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs sign-format">
    <%= f.input :first_name, autofocus: true %><br>
    <%= f.input :last_name %><br>
    <%= f.input :dob %><br>
    <%= f.select :favorite_color, [['Red'], ['Blue'], ['White'],
        ['Purple'], ['Brown'], ['Black'], ['Pink'], ['Violet'],
        ['Aqua'], ['Turquoise'], ['Green'], ['Magenta'], ['Teal']]
         %><br>
    <%= f.input :phone_number %><br>
    <%= f.input :email, required: true %><br>
    <%= f.input :password, input_html: { class: 'password-format' }, required: true, hint:
    ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, input_html: { class: 'password-confirmation-format' }, required: true %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
