<%= simple_form_for(@feedback) do |f| %>

  <div class="form-inputs">
    <%= f.input :message %>
    <%= f.association :user, :include_blank => false %>
    <%= f.association :meeting, :include_blank => false %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, 'Create Comment' %>
  </div>
<% end %>

<br>



