<%= form_for @room, :html => { :multipart => true } do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.select :name, [['Ruby on Rails'], ['Web-Design'], ['JavaScript'], ['Web-Development']] %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.select :location, [['C-1'], ['C-2'], ['C-3'], ['C-4']] %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <br>

  <%= f.file_field :photo %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
