<!DOCTYPE html>
<html>
<head>
  <title>ConferenceRoomScheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/darkly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" media="all" href='https://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css'/>
</head>
<body>

<h1 class='header-format'>CONFERENCE ROOM SCHEDULER</h1>

<div class='nav-format'>
  <div class='row'>
    <div class='col-md-12'>
      <%= link_to 'HOME', root_path %> |
      <%= link_to 'USERS', users_path %> |
      <%= link_to 'CONFERENCE ROOMS', rooms_path %> |
      <%= link_to 'MEETINGS', room_meetings_path(Room.first) %> |
      <%= link_to 'SIGN-UP', new_user_registration_path(@user) %> |
      <%= link_to 'SIGN-IN', user_session_path(@user) %> |
      <%= link_to 'SIGN-OUT', destroy_user_session_path(@user), method: :delete %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </div>
</div>
  <script src='https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>

</body>
</html>
